@model List<demo_webshop.Extensions.CartItem>

<div class="text-center">
    <h1>Place your order</h1>
</div>
<hr />

@if(ViewBag.Errors.Count > 0)
{
    <div class="alert alert-danger" role="alert">
        @foreach(var error in ViewBag.Errors)
        {
            <p>@error</p>
        }
    </div>
}

@* 1. Ispis podataka iz kosarice *@
<div class="row">
    <div class="col">

        <div class="text-center">
            <h5>Cart Items</h5>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>                        
                        <td>@item.Product.Title</td>
                        <td>@item.Product.Price</td>
                        <td>@item.Quantity</td>
                        <td>@item.GetTotal()</td>
                   </tr>                    
                }
                <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <b>Total price: @ViewBag.TotalPrice.ToString("0.00") kn</b>
                        </td>
                    </tr>
            </tbody>
        </table>


    </div>
</div>

@* 2. polja za unos podataka kupca*@
<div class="row">
    <div class="col">
        <div class="text-center">
            <h5>Personal information</h5>
        </div>
        <form class="row" method="POST" asp-area="" asp-controller="Home" asp-action="Order">
            <div class="col-md-6 mb-3">
                <label>First name *</label>
                <input type="text" class="form-control" name="BillingFirstName" />
            </div>

            <div class="col-md-6 mb-3">
                <label>Last name *</label>
                <input type="text" class="form-control" name="BillingLastName" />
            </div>

            <div class="col-md-6 mb-3">
                <label>Email *</label>
                <input type="email" class="form-control" name="BillingEmail" />
            </div>

            <div class="col-md-6 mb-3">
                <label>Phone *</label>
                <input type="text" class="form-control" name="BillingPhone" />
            </div>

            
            <div class="col-md-6 mb-3">
                <label>Address *</label>
                <input type="text" class="form-control" name="BillingAddress" />
            </div>

            <div class="col-md-6 mb-3">
                <label>City *</label>
                <input type="text" class="form-control" name="BillingCity" />
            </div>

            <div class="col-md-4 mb-3">
                <label>Country *</label>
                <select class="form-control" name="BillingCountry">
                    <option value="">-- Select Country --</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Bosni and Herzegovina">Bosnia adn Herzegovina</option>
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <label>Postal code *</label>
                <input type="text" class="form-control" name="BillingZip"/>
            </div>
            <div class="col-md-12 mb-3">
                <label>Message</label>
                <textarea class="form-control" rows="5" name="Message"></textarea>
            </div>

            <div class="col-md-6 text-start">
                <a class="btn btn-warning" asp-controller="Home" asp-action="Product">Continue shopping</a>
            </div>
            <div class="col-md-6 text-start">
                <input type="submit" class="btn btn-success" value="Finish order"/>
            </div>

        </form>
    </div>
</div>