@model List<Product>

<h3>Product list</h3>
<hr>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">@ViewBag.Message</div>  
}
<div class="row mb-5">
    @*Filter s kategorijama*@
    <div class="col-6">

        <form method="GET" asp-area="" asp-controller="Home" asp-action="Product">

            <div class="input-group mb-3">
                    
                <select class="form-select" id="floatingSelect" name="categoryId">
                    <option selected value="">All</option>
                    @foreach(var category in ViewBag.Categories)
                    {
                    <option value="@category.Id">@category.Title</option>
                    }
                </select>
                   
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
           
        </form>
        
    </div>
</div>

<div class="row">
    @*Ispis svih proizvoda*@
    @foreach(var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    @if (item.ImageName != null)
                    {
                        <p>
                            <img src="~/images/@item.ImageName" style="width:100%; height=150px;">
                        </p>
                    }
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-start"><span class="input-group-text">@item.Price kn</span></td>
                                <td class="text-end">
                                    @*TODO: Forma za dodavanje u košaricu*@
                                    <form method="POST" asp-area="" asp-controller="Cart" asp-action="AddToCart">
                                        <input type="hidden" name="productId" value="@item.Id">
                                        <div class="input-group mb-3">
                                            <input type="number" name="quantity" class="form-control form-control-sm text-center" min="1" max="@item.Quantity" value="1">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-success">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    }
</div>

