@model List<demo_webshop.Extensions.CartItem>

<h1>Cart item</h1>

@*@Context.Session.GetString("_cart") //Za pogledati kako izgelda _cart u JSON fomatu*@

@if(Model.Count == 0)
{
    <h3>Your cart is empty</h3>
    <hr />
    <a asp-controller="Home" asp-action="Product">Continue shopping</a>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-danger" asp-action="RemoveFromCart" asp-route-productId="@item.Product.Id">Remove</a>
                            </td>                            
                            <td>@item.Product.Title</td>
                            <td>@item.Product.Price</td>
                            <td>@item.Quantity</td>
                            <td>@item.GetTotal()</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <b>Total price: @ViewBag.TotalPrice.ToString("0.00") kn</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary float-start" asp-controller="Home" asp-action="Product">Continue shopping</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary float-end" asp-controller="Home" asp-action="Order">Checkout</a>
        </div>
    </div>
}